{% block nav %}
<nav class="menu navbar navbar-expand-md sticky-top"   style="background-color: #691669;"  id="navigation">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-left txt-bd ft-bd" id="left-nav">
            <li class="nav-item"><a href="/admin" class="nav-link fc-white">Home</a></li>
            <li class="nav-item"><a href="/adminPaintings" class="nav-link fc-white">Paintings </a></li>
            <li class="nav-item"><a href="/adminUsers" class="nav-link fc-white">Users</a></li>
            <li class="nav-item"><a href="/adminGalleries" class="nav-link fc-white">Galleries</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link fc-white">Logout</a></li>
        </ul>
    </div>
</nav>
{% endblock %}