{% extends 'adminBase.twig' %}

{% block content %}
    <header>
        <div class="bg-image">
        </div>
    </header>

    <div class="wrapper-table">
        <section>
            <h2 class="table-title ft-rw">List of all Users</h2>
            <table>
                <tr class="table-head ft-rw">
                    <th> User ID </th> 
                    <th> Name </th>
                    <th> Email ID </th>
                </tr>
                {% for row in users %}
                    <tr>
                        <td> {{row.user_id}} </td>
                        <td>{{ row.first_name }} {{row.last_name}}</td>
                        <td> {{ row.email_id }}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}