{% extends 'adminBase.twig' %}

{% block content %}
<header class="main_header">
    <div class="bg-image">
        <h2 class="ft-rw"> Welcome Admin </h2>
    </div>
</header>

<div class="wrapper-content">
    <h3 class="sec_title ft-rw"> Admin Powers </h3>
    <p class="ft-lt">
        As an admin, you are entitled to see all paintings<br> and galleries and remove them from the database.
        Take full responsibility of what you do.
    </p>
</div>

{% endblock %}