{% extends 'base.twig' %}

{% block content %}
    <header class="main_header">
        <div class="bg-image">
            <h1 class="ft-rw" class="highlight"> ArtOnline </h1>
            <h3 class="ft-rw"> Online Art Platform </h3>
        </div>
    </header>

    <div class="wrapper-content">
        <section id="about">
            <h1 class="sec_title ft-rw"> About Us </h1>
            <div class="text-body">
                <p>
                    <span class="ft-lt">
                        This project is made with a simple aim in the mind - to let common people appreciate great artworks.<br>
                        ArtOnline-Project is aimed at connecting the art galleries to the consumers.
                        There are many galleries in the cities which sell artworks (mainly paintings) by artists. 
                        But people don't know about these stores and thus this website is to make artworks easily showcased to 
                        the people so that they can get those artworks at their doorstep.
                        Here what I have tried to do is to make a web app that helps people find information related to paintings
                         - like their artist names, gallery which keep those paintings and helps to encourage the artists' work. <br><br>
                    </span>
                </p>
                <p>
                    <span class="ft-lt">
                        A little knowledge among the people about the beautiful piece of art the artists make tends to 
                        discourage them. 
                        But with this website I have tried to let people know and appreciate the paintings and provide a 
                        source of income to the artists as well. 
                    </span>
                </p>
            </div>
        </section>

        <section id="contact">
            <h1 class="sec_title ft-rw"> Contact Details </h1>
            <div class="text-body">
                <p>
                    <span>
                        Just to keep this platform a safe  alternative for selling paintings
                        we prohibit any user from entering details about any painting by themselves and avoid copyright breaches.
                        Moreover, if you have any other query or complaint feel free to contact
                        us.
                    </span>
                </p>
                <p>
                    <span><b> Email : artOnline.spring@gmail.com </b><br></span>
                    <span><b> Phone No :  +91 9846554321 </b> <br></span>
                </p>
            </div>
        </section> 
    </div>
{% endblock %}