{% block nav %}
<nav class="menu navbar navbar-expand-md sticky-top" style="background-color: #691669;" id="navigation">

    <a href="" class="navbar-brand txt-bd ft-rw fc-white" id="home-link">ArtOnline</a>

    <div class="collapse navbar-collapse">
    <ul class="navbar-nav navbar-left txt-bd ft-bd" id="left-nav">
            <li class="nav-item"><a href="/paintings" class="nav-link fc-white">Artwork</a></li>
        <li class="nav-item"><a href="/galleries" class="nav-link fc-white">Marketplace</a></li>
         <li class="nav-item"><a href="/artists" class="nav-link fc-white">Artists</a></li>
        {% if user_email is null %}
        <li class="nav-item"><a href="/login" class="nav-link fc-white">Login</a></li>
        <li class="nav-item"><a href="/register" class="nav-link fc-white">Register</a></li>
        {% else %}
        <div class="dropdown">
            <li class="nav-item"><a href="/self/profile" class="nav-link fc-white">{{ user_email }}</a></li>
            <div class="dropdown-content">
                <a href="/self/profile">Profile</a>
                <a href="/self/orders">Orders</a>
                <a href="/self/galleries">Galleries</a>
                <a href="/self/cart">Cart</a>
            </div>
        </div>
        <li class="nav-item"><a href="/logout" class="nav-link fc-white">Logout</a></li>
        {% endif %}


    </ul>
    </div>
</nav>
{% endblock %}